# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\代码\qianchengdai-interface-v3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
